@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

* html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gradient-bg-welcome {
  background-color: #0f0e13;
  background-image: radial-gradient(
      at 0% 0%,
      hsla(253, 16%, 7%, 1) 0,
      transparent 50%
    ),
    radial-gradient(at 50% 0%, hsla(225, 39%, 30%, 1) 0, transparent 50%),
    radial-gradient(at 100% 0%, hsla(339, 49%, 30%, 1) 0, transparent 50%);
}

.gradient-bg-services {
  background-color: #0f0e13;
  background-image: radial-gradient(
      at 0% 0%,
      hsla(253, 16%, 7%, 1) 0,
      transparent 50%
    ),
    radial-gradient(at 50% 100%, hsla(225, 39%, 25%, 1) 0, transparent 50%);
}

.gradient-bg-transactions {
  background-color: #0f0e13;
  background-image: radial-gradient(
      at 0% 100%,
      hsla(253, 16%, 7%, 1) 0,
      transparent 50%
    ),
    radial-gradient(at 50% 0%, hsla(225, 39%, 25%, 1) 0, transparent 50%);
}

.gradient-bg-footer {
  background-color: #0f0e13;
  background-image: radial-gradient(
      at 0% 100%,
      hsla(253, 16%, 7%, 1) 0,
      transparent 53%
    ),
    radial-gradient(at 50% 150%, hsla(339, 49%, 30%, 1) 0, transparent 50%);
}

.blue-glassmorphism {
  background: rgb(39, 51, 89, 0.4);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(0, 0, 0, 0.3);
}

/* white glassmorphism */
.white-glassmorphism {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.eth-card {
  background-color: #a099ff;
  background-image: radial-gradient(
      at 83% 67%,
      rgb(152, 231, 156) 0,
      transparent 58%
    ),
    radial-gradient(at 67% 20%, hsla(357, 94%, 71%, 1) 0, transparent 59%),
    radial-gradient(at 88% 35%, hsla(222, 81%, 65%, 1) 0, transparent 50%),
    radial-gradient(at 31% 91%, hsla(9, 61%, 61%, 1) 0, transparent 52%),
    radial-gradient(at 27% 71%, hsla(336, 91%, 65%, 1) 0, transparent 49%),
    radial-gradient(at 74% 89%, hsla(30, 98%, 65%, 1) 0, transparent 51%),
    radial-gradient(at 53% 75%, hsla(174, 94%, 68%, 1) 0, transparent 45%);
}

.text-gradient {
  background-color: #fff;
  background-image: radial-gradient(
      at 4% 36%,
      hsla(0, 0%, 100%, 1) 0,
      transparent 53%
    ),
    radial-gradient(at 100% 60%, rgb(0, 0, 0) 0, transparent 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply bg-[#2952E3] py-2 px-7 mx-4 rounded-full cursor-pointer hover:bg-[#2546bd];
  }

  .nav-container {
    @apply w-full flex md:justify-center justify-between items-center p-4;
  }

  .nav-img-wrapper {
    @apply md:flex-[0.5] flex-initial justify-center items-center;
  }

  .nav-list {
    @apply text-white md:flex hidden list-none flex-row justify-between items-center flex-initial;
  }

  .nav-list-mobile {
    @apply z-10 fixed top-0 -right-2 p-3 w-[65vw] h-screen shadow-2xl md:hidden list-none flex flex-col justify-start items-end rounded-md blue-glassmorphism text-white;
  }

  .nav-icon {
    @apply text-white md:hidden cursor-pointer;
  }

  .welcome-container {
    @apply flex w-full justify-center items-center;
  }

  .welcome-wrapper {
    @apply flex mf:flex-row flex-col items-start justify-between md:p-20 py-12 px-4;
  }

  .welcome-header {
    @apply flex flex-1 justify-start flex-col mf:mr-10;
  }

  .welcome-title {
    @apply text-white text-3xl sm:text-5xl text-gradient py-1;
  }

  .welcome-excerpt {
    @apply text-white text-left mt-5 font-light md:w-9/12 w-11/12 text-base;
  }

  .welcome-button {
    @apply flex flex-row justify-center items-center my-5 bg-[#2952E3] p-3 rounded-full cursor-pointer hover:bg-[#2546BD];
  }

  .feature-wrapper {
    @apply grid sm:grid-cols-3 grid-cols-2 w-full mt-10;
  }

  .feature-common {
    @apply min-h-[70px] sm:px-0 px-2 sm:min-w-[120px] flex justify-center items-center border-[0.5px] border-gray-400 text-sm font-light text-white;
  }

  .right-side-welcome {
    @apply flex flex-col flex-1 items-center justify-start w-full mf:mt-0 mt-10;
  }

  .card-container {
    @apply p-3 justify-end items-start flex-col rounded-xl h-40 sm:w-72 w-full my-5 eth-card white-glassmorphism;
  }

  .ether-icon-wrapper {
    @apply w-10 h-10 rounded-full border-2 border-white flex justify-center items-center;
  }

  .form-container {
    @apply p-5 sm:w-96 w-full flex flex-col justify-start items-center blue-glassmorphism;
  }

  .form-input {
    @apply my-2 w-full rounded-sm py-2 px-3 outline-none bg-transparent text-white border-none text-sm white-glassmorphism;
  }

  .form-submit-btn {
    @apply text-white w-full mt-2 border-[1px] p-2 border-[#3D4F7C] rounded-full cursor-pointer;
  }

  .loader-container {
    @apply flex justify-center items-center py-3;
  }

  .loader-circle {
    @apply animate-spin rounded-full h-16 w-16 border-b-2 border-red-700;
  }

  .services-container {
    @apply flex w-full justify-center items-center gradient-bg-services;
  }

  .services-wrapper {
    @apply flex mf:flex-row flex-col items-center justify-between md:p-20 py-12 px-4;
  }

  .services-description-wrapper {
    @apply flex-1 flex flex-col justify-start items-start;
  }

  .services-header {
    @apply text-white text-3xl sm:text-5xl py-2 text-gradient;
  }

  .services-description {
    @apply text-left my-2 text-white font-light md:w-9/12 w-11/12 text-base;
  }

  .services-card-wrapper {
    @apply flex-1 flex flex-col justify-start items-center;
  }

  .services-card-container {
    @apply flex flex-row justify-start items-start white-glassmorphism p-3 m-2 cursor-pointer hover:shadow-xl;
  }

  .card-icon-wrappr {
    @apply w-10 h-10 rounded-full flex justify-center items-center;
  }

  .transaction-card-wrapper {
    @apply bg-[#181918] m-4 flex flex-1
      2xl:min-w-[450px]
      2xl:max-w-[500px]
      sm:min-w-[270px]
      sm:max-w-[300px]
      min-w-full
      flex-col p-3 rounded-md hover:shadow-2xl;
  }

  .footer-container {
    @apply w-full flex md:justify-center justify-between items-center flex-col p-4 gradient-bg-footer;
  }

  .footer-items {
    @apply w-full flex sm:flex-row flex-col justify-between items-center my-4;
  }

  .footer-logo-wrapper {
    @apply flex flex-[0.5] justify-center items-center;
  }

  .footer-items-wrapper {
    @apply flex flex-1 justify-evenly items-center flex-wrap sm:mt-0 mt-5 w-full;
  }

  .footer-item {
    @apply text-white text-base text-center mx-2 cursor-pointer;
  }
}
